.checkout{
    margin: 50px 0 100px 0;
    text-align: center;
    border-top: 1px solid #3de91d;
    border-bottom: 1px solid #3de91d;
    padding: 50px;
}

.checkout_head img {
    height: 150px;
}
.checkout_head input {
    padding: 5px;
}
.checkoutButton {
    padding: 10px;
    background-color: rgb(34, 177, 34);
    border: none;
    border-radius: 10px;
    color: #fff;
}
.success{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    /* height: 70vh; */
}